*/ipynbfile/*
ipynbfiles/
test.py
venv/
temp/
app/Bank_stmt/
app/SOA/
ipynbfile/
ipynbfiles/
*/Bank_stmt/
*/SOA/
.rpa/
.idea/
.ipynb_checkpoints/
*/.ipynb_checkpoints/*
.virtual_documents/
*/.virtual_documents/*
.vscode
.DS_Store
*.pyc
*.zip
*/work-items-out/*
testrun/*
.~lock*
*.pkl
*.ipynb
*/ipynbfile/*
*.xlsx
*.db
SOA/
Bank_stmt/
*.csv
*.log

